.btn.active {
  position: relative;

  &:before {
    content: "\f00c";
    font: normal normal normal 11px/1 FontAwesome;
    position: absolute;
    //top: 8px;
    //left: 7px;
    font-size: 9px;
    z-index: 3;

    top: 6px;
    left: -6px;
    background: inherit;
    padding: 2px;
    border-radius: 25px;
  }
}

.btn.has-drop-down {

  &:after {
    content: "\f078";
    font: normal normal normal 11px/1 FontAwesome;
    position: absolute;
    font-size: 11px;
    z-index: 3;
    top: 6px;
    right: -6px;
    background: inherit;
    padding: 2px;
    border-radius: 25px;
  }
}

.actions-btn-menu {
  position: absolute;
  padding: 10px;
  z-index: 1;
  right: 7px;
  top: 0;

  .btn {
    padding: 3px 8px;
    box-shadow: 2px 2px 5px #404040;

    i {
      font-size: 23px;
      vertical-align: middle;
    }
  }
}