@import "~jquery.terminal/css/jquery.terminal.css";
@import "variables.less";
@import "sizings.less";
@import "popovers.less";
@import '~noty/lib/noty.css';

// FOR CHARACTER HEIGHT CALCULATING
.cmd .cursor {
    border: 0;
}

.noty-wrap-text {
	padding: 10px;
	font-weight: bold;
}

// RESET COLORS
.terminal, .cmd {
	color: transparent;
	background-color: transparent;
}

#terminalContext{
    width: 100%;
}

.terminal-full-screen {
	text-align: left;
}

.terminal-wrap-custom {
	@import "buttons.less";
	@import "pqQuotes.less";

    position: relative;
	width : 100%;
	height: 100%;

	& > .term-body {
		width: 100%;
		height: 100%;

		//.terminal-cell {
			//padding-left: 2px;
		//}

		.left {
			position: relative;
			height : 100%;
			//width  : 100%;

			& > table {
				height : 100%;
				width  : 100%;

				tr {
                    td {
						border-right: 3px solid #fff;
						border-top: 3px solid #fff;
						vertical-align: top;
					}

					td:last-child {
                        border-right: 0;
					}

					&:first-child {
						td {
                            border-top:0;
						}
					}
				}
			}
		}

		.menu {
			width: 20%;
			vertical-align: top;
			padding: 9px;
			//color: #414141;
			background: #fff;

			.label {
				font-weight: bold;
				font-size: 12px;
				padding: 10px 0;
				color: #414141;
			}

			.buttons {
				.btn {
					margin-right: 5px;
				}
			}

			.pcc-label {
				position: absolute;
				top: -5px;
				right: -5px;
				border: 1px solid;
				padding: 0 3px;
				background: #fff;
				color: #511551;
				border-radius: 15px;
				font-size: 10px;
			}
		}

		&.minimized {
			.menu {
                width: 100px;

				.btn {
					display: block;
					width: 100%;
					margin: 0 0 5px 0;
				}

				.label {
					text-align: center;
					font-size: 10px;
					display: block;
				}
			}
		}
	}

	.terminal {
        //width:100%;

		padding: 0;
		padding-left : 2px;
		padding-top : 2px;

		//text-align: left;
        //height: 100%;
        //overflow: auto;
        //height : auto;

        .cmd {
            font-weight: bold;
            text-transform: uppercase;
        }

        .usedCommand {
            text-transform: uppercase;
        }

        /*.terminal-wrapper
        {
            overflow: auto;
            width: 100%;
        }

        div {
            overflow: auto;
            width: 100%;
        }

        pre {
            width: 100%;
        }*/
	}

    .cmd + div // for tests
    {
        //background: red;
    }

	//.terminal-wrapper {
		//overflow: auto;
		//height: 100%;
	//}

	//.terminal-output {
		//overflow: auto;
		//height : auto;
		//height: 100%;
	//}

    // when text outside container width
    .terminal-output div span {
        display: inline;
    }

    // buffer scroll fix
	div.terminal-wrapper {
		height : auto;
	}
}

/*
.cmd .cursor.blink {
	-webkit-animation: terminal-blink2 1s infinite steps(1, start);
	-moz-animation: terminal-blink2 1s infinite steps(1, start);
	-ms-animation: terminal-blink2 1s infinite steps(1, start);
	animation: terminal-blink2 1s infinite steps(1, start);
}
@-webkit-keyframes terminal-blink2 {
	0%, 100% {
		background-color: rgba(0,0,0,0.3);
		color: rgba(255,255,255,0.8);
	}
	50% {
		background-color: rgba(255,255,255,0.3);
		color: rgba(0,0,0,0.6);
	}
}

@-ms-keyframes terminal-blink2 {
	0%, 100% {
		background-color: rgba(0,0,0,0.3);
		color: rgba(255,255,255,0.8);
	}
	50% {
		background-color: rgba(255,255,255,0.3);
		color: rgba(0,0,0,0.6);
	}
}

@-moz-keyframes terminal-blink2 {
	0%, 100% {
		background-color: rgba(0,0,0,0.3);
		color: rgba(255,255,255,0.8);
	}
	50% {
		background-color: rgba(255,255,255,0.3);
		color: rgba(0,0,0,0.6);
	}
}
@keyframes terminal-blink2 {
	0%, 100% {
		background-color: rgba(0,0,0,0.3);
		color: rgba(255,255,255,0.8);
	}
	50% {
		background-color: rgba(255,255,255,0.3);
		color: rgba(0,0,0,0.6);
	}
}*/

@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.cmd .cursor.blink {
    background: @cursor-color;
    -webkit-animation: blink 1s infinite linear;
    -moz-animation: blink 1s infinite linear;
    -ms-animation: blink 1s infinite linear;
    animation: blink 1s linear infinite;

    //-webkit-box-shadow: 0 0 5px @cursor-box-shadow;
    //-moz-box-shadow: 0 0 5px @cursor-box-shadow;
    //-ms-box-shadow: 0 0 5px @cursor-box-shadow;
    //-o-box-shadow: 0 0 5px @cursor-box-shadow;
    //box-shadow: 0 0 5px @cursor-box-shadow;
}
