.pqQuotes {

  .close {
    top: 10px;
    position: relative;
  }

  div.term-body-pq {
    //padding: 0 10px;

    .pq-container {

      .added-by {
        float: right;
      }

      &:nth-child(even) {background:  #fff }
      &:nth-child(odd) {background: #f3f3f3}

      //margin: 0 0 10px 0;
      padding: 15px 10px;
      border-bottom: 1px solid #f3f3f3;
      border-left: none;
      border-right: none;
    }

  }

  vertical-align: top;
  width: 445px;

  .priceqoute-pre {
    font-size: 11px;
    padding: 5px;
    color: #000;

  }

}