.term-f-size-4
{
    .terminal {
        --size: 2;
    }
}

.term-f-size-3
{
    .terminal {
        --size: 1.5;
    }
}

.term-f-size-2
{
    .terminal {
        --size: 1.25;
    }
}

.terminal-wrap-custom {
    .t-matrix-w-0
    {
        td {
            width: 100%;
        }
    }
    .t-matrix-w-1
    {
        td {
            width: 50%;
        }
    }

    .t-matrix-w-2
    {
        td {
            width: 33.33%;
        }
    }

    .t-matrix-w-3
    {
        td {
            width: 25%;
        }
    }
}