.term-body
{
    table {
        background: @terminal-bg;
    }

    .terminal {
        --background: @terminal-bg;
        background: @terminal-bg;
    }
}

.term-body.sabre {

    table {
        background: @terminal-sabre-bg;
    }

    .terminal {
        --background: @terminal-sabre-bg;
        background: @terminal-sabre-bg;
    }
}