// following is required
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "app/variables.less";
@import "app/mixins.less";
@import 'variables';

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// following may be not required

// Utility classes
@import "bootstrap/utilities.less";
//@import "bootstrap/responsive-utilities.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/labels.less";
//@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";

@import "plugins/dateRangePicker.less";

@import "app/arrow.less";
@import "app/buttons.less";
@import "app/colors.less";
@import "app/utilities.less";
@import "app/app.less";
@import "app/app.nav.less";

@import "plugins/fuelux/checkbox.less";

@import "plugins/select2.less";
@import "plugins/select2-bootstrap.less";
@import "reset/select2-bootstrap.less";

@import "plugins/autocomplete.less";
@import "modules/modals.less";
@import "modules/buttons.less";

@import "helper";
@import "general-elements";


select.input-sm {
	padding: 4px 10px;
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  color: #515151;
  background-color: #6c6c6c;
}
